The propfind method does not return quota-available-bytes and quota-used-bytes parameters

[RFC4331 Section3](https://www.rfc-editor.org/rfc/rfc4331#section-3)